# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\agency\gittrain\react-task-tracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
